/* Звёздочка это стили для всех объектов: h1-h6, p, img, ul, li, div и т.д */
* {
    /* отступы */
    margin: 0;
    /*  */
    padding: 0;
    /*  */
    box-sizing: border-box;
}

body {
    background: linear-gradient(180deg, rgb(21, 21, 20), rgb(108, 108, 108));
    color: white;
    
}

h1 {
    /* Размер шрифта */
    font-size: large;
    /* шрифт */
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    /* Выравнивание текста по центру */
    text-align: center;

    /* Весь текст заглавными буквами */
    text-transform: uppercase;
    /* Цвет текста */
    color: rgb(195, 255, 0);
    /* Цвет заднего фона */
    /* background-color: gainsboro; */
    background: linear-gradient(90deg, rgb(1, 255, 0), rgb(86, 181, 184) 80%);

    /* Расстояние между буквами */
    letter-spacing: 10px;
    /* Расстояние между словами */
    word-spacing: 10px;

}

hr {
    /* Отступы */
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;

    /* Отступы по часовой стрелке */
    margin: 20px 20px 20px 20px;
    /* Отступы сверху-снизу; справа-слева */
    margin: 20px 20px;
    /* Отступы со всех сторон */
    margin: 20px;

}

a {
    color: rgb(158, 255, 3);
    
}

.btn {
    padding: 15px 30px; /* Внутренние отступы */
    color: white;
  /*  background-color: orange;  Цвет фона кнопки */
    background: linear-gradient(135deg, rgb(255, 195, 0), rgb(255, 139, 0));
    box-shadow: 12px 10px 5px -5px rgba(0, 0, 0, 0.6);
}

.art {
    box-shadow: 12px 10px 5px -5px rgba(0, 0, 0, 0.72);
}
p {
    box-shadow: 12px 10px 5px -5px rgba(0, 0, 0, 0.72);
}